<div class="login-page">
  <h3>ESQUEÇEU SUA SENHA?</h3>
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
      <%= f.submit "ENVIAR INSTRUÇÕES DE RESET DE SENHA" %>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
