<div class="login-page">
  <h3>Entrar no Painel</h3>
  <div class="login-form">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <!-- <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    <% end -%> -->
    <%= f.submit "ENTRAR" %>
  <% end %>

</div>
  <%= render "devise/shared/links" %>
</div>
